torch --index-url https://download.pytorch.org/whl/cu121
torchvision --index-url https://download.pytorch.org/whl/cu121
torchaudio --index-url https://download.pytorch.org/whl/cu121
speechRecognition
PyAudio
pytube
playsound==1.2.2
sudachipy
pytz
python-crfsuite
jieba
jamo
hangul-romanize
gruut-lang-fr
gruut-lang-es
gruut-lang-en
gruut-lang-de
docopt
cymem
bnunicodenormalizer
bnnumerizer
bangla
Werkzeug
unidecode
tzdata
threadpoolctl
tensorboard-data-server
sudachidict-core
spacy-loggers
spacy-legacy
soxr
smart-open
six
scipy
safetensors
regex
pyyaml
pysbd
pypinyin
pyparsing
pydantic-core
pycparser
pyasn1
psutil
protobuf
platformdirs
packaging
oauthlib
num2words
networkx
murmurhash
multidict
msgpack
markdown
llvmlite
lazy-loader
langcodes
kiwisolver
joblib
itsdangerous
gruut-ipa
grpcio
frozenlist
fonttools
einops
decorator
cython
cycler
coqpit
contourpy
colorama
cloudpathlib
catalogue
cachetools
blis
blinker
Babel
audioread
attrs
anyascii
annotated-types
absl-py
yarl
wasabi
tzlocal
tqdm
srsly
scikit-learn
rsa
requests-oauthlib
python-dateutil
pydantic
pyasn1-modules
preshed
pooch
numba
jsonlines
click
cffi
aiosignal
typer
soundfile
pynndescent
pandas
nltk
matplotlib
inflect
huggingface-hub
google-auth
flask
dateparser
confection
aiohttp
weasel
umap-learn
tokenizers
thinc
librosa
gruut
google-auth-oauthlib
g2pkk
encodec
transformers
tensorboard
spacy
trainer
# Extras\vs_BuildTools.exe --norestart --passive --downloadThenInstall --includeRecommended --add Microsoft.VisualStudio.Workload.NativeDesktop --add Microsoft.VisualStudio.Workload.VCTools --add Microsoft.VisualStudio.Workload.MSBuildTools

